@keyframes pulse {
  from {
    background-position: 0%;
  }
  to {
    background-position: 300%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(30%);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(30%);
  }
}

@keyframes point-right {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10px);
  }
  30% {
    transform: rotateX(360deg);
  }
  40% {
    transform: rotateX(0deg);
  }
  // 50% {
  //   transform: translateX(0);
  // }
}



main.home_main {
  section.hero {
    background: linear-gradient(89.54deg, #0D0B33 44.8%, rgba(4, 32, 102, 0) 100.46%), linear-gradient(89.54deg, #0D0B33 45.56%, rgba(4, 32, 102, 0) 100.46%);
    width: 100%;
    height: 90vh;
    padding: 2em 5vmax;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    & > div.hero_container {
      width: calc(100% - (2 * 5vmax));
      
      position: absolute;
      top: 18%;

      & > div.right {
        // background-color: red;i
        z-index: -0;
        // width: max-content;
        position: relative;
        transform: translateY(-8%);
        right: 5%;
        top: -40%;

        & > div.big_circle {
          width: 386px;
          height: 386px;
          // right: calc(70vw - (2 * 386px));
          right: -13%;
          // top: calc(50vh - (2 * 386px));
          top: 12vh;
          position: absolute;
          border-radius: 50%;
          z-index: -1;
          // z-index: 31 !important;
          background: linear-gradient(225.97deg, #79EFBD 0.83%, rgba(121, 239, 189, 0) 92.57%);
        }

        & img {
          // position: absolute;
          top: 0;
          right: 0%;
        }
        
      }
    }
    div.hero_text_container {
      max-width: 700px;

      & > button img {
        animation: point-right 4s ease-in-out infinite;
        // animation-delay: 3s;
      }
    }

    & h1 {
      font-size: 3.3vmax;
    }

    & p {
      font-size: 1.5vmax;
    }

    div.circle {
      width: 150.15px;
      height: 150.15px;
      
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(243, 94, 155, 0.12) 0%, rgba(80, 208, 234, 0.12) 100%);
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.09);
      // transform: rotate(-132.93deg);
    }

    div.circle_1_container {
      position: absolute;
      left: 40%;
      top: 70%;
    }

    div.circle_2_container {
      position: absolute;
      right: 3%;
      top: 90%;
      z-index: 27 !important;
    }

    

    
    /* Right Side Blurs Section */
    & > div.right_blurs {
      right: 0;
      top: 0;
      height: 100%;
      position: absolute;
      width: 50vw;
      // background-color: wheat;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & > div.purple {
        background: radial-gradient(rgb(182, 11, 235) 5%, rgb(76, 32, 180));
        background-size: 300%;
        position: absolute;
        top: -10%;
        right: -20%;
        height: 60%;
        width: 60vw !important;
        border-radius: 50%;
        filter: blur(40px);
        z-index: -1;
        animation: pulse 4s ease-in-out infinite;
      }

      & > div.tomato {
        background: radial-gradient(rgb(255, 180, 40) 15%, rgb(255, 71, 71));
        background-size: 300%;
        position: absolute;
        bottom: 5%;
        right: -20%;
        height: 60%;
        width: 70vw !important;
        border-radius: 50%;
        filter: blur(40px);
        z-index: -2 !important;
        animation: pulse 4s ease-in-out infinite;
      }
    }
  }


  /*==============*/
  /* Perks Section*/
  /*==============*/
  & > section.perks {
    padding: 5em 4.1vmax;
   
    & h1 {
      font-size: 2.5vmax;
    }

    & p {
      font-size: 1.4vmax;
    }

    & > div.perks_container {
      max-width: 1200px;
      
      margin-inline: auto;
      justify-content: space-between;
      

      &  div.perk_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        background-image: url(../public/assets/home/perk-background.png);
        background-repeat:repeat-x;
        background-size: contain;
        justify-content: space-between;
        width: 100%;

        & > div.perk_outline {
          // background-color: red;
          // border: 1px solid white;
          // height: 200px;
          // width: max-content;
          // min-width: 350px;
          display: grid;
          justify-content: center !important;
          
          // max-width: 400px;
          // position: relative;

    //         background: 
    // linear-gradient(red, blue) padding-box,
    // linear-gradient(to right, red, darkorchid) border-box;
  // border-radius: 10px;
  // border: 4px solid transparent;
  
          & > div.perk {
            min-width: 320px;
            max-width: 450px;
            // height: calc(100% - 2px);
            // width: calc(100% - 2px);
            // top: 0;
              /* Border */
  border: 4px solid transparent;
  background: 
    linear-gradient(to right, rgba(255,255, 255, 0.2), rgba(255, 255, 255, 0.1)), 
    linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 10, 10, 0.1) ); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  

            // border: 10px solid;
            // border-image-slice: 1;
            // border-width: 1px;
            // border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
            // border-radius: 10px !important;



            
            // background: linear-gradient(108.62deg, rgba(225, 225, 225, 0.4) 3.15%, rgba(225, 225, 225, 0.1) 73.36%);
            backdrop-filter: blur(10px);
  
            & > span.right {
              color: linear-gradient(red, yellow);
              background: -webkit-linear-gradient(45deg, #eee, #FF0A80);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }

      
    }
  }


  /*==================*/
  /* Download Section */
  /*==================*/
  & > section.download {
    background-color: #181734;
   

    & > div.download_container {
      // max-width: 1300px;
      margin-inline: auto;
      display: grid;
      grid-template-columns: 3fr 2fr;


      & > div.download_text_container {
        max-width: 700px;
        padding: 3em 4.7vmax;
  
        & h1 {
          font-size: 3vmax;
        }
    
        & p {
          font-size: 1.2vmax;
        }
      }

      & > div.download_image_container {
        // background-color: red;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    
  }
}


@media screen and (max-width: 1200px) {
  main.home_main {
    section.hero {
  
  
      & h1 {
        font-size: 40px !important;
      }
  
      & p {
        font-size: 20px;
      }
    }

    section.perks {
      & h1 {
        font-size: 27px;
      }
  
      & p {
        font-size: 19px;
      }
    }

    section.download {
      & h1 {
        font-size: 30px;
      }
      & p {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .marquee {
    animation: marquee 9s ease-in-out infinite;
  }
  
  main.home_main {
    section.hero {
      height: 140vh;
      padding: 20px !important;

  
      & > div.hero_container {
        flex-direction: column;
        top: 10%;
        width: calc(100% - 50px);
        // max-width: 1000 !important;


        & > div.right {
          justify-content: center;
          justify-self: center;
          margin-inline: auto;
          left: 0;
          display: flex !important;
          // background-color: red !important;
          width: 90%;
          transform: translateY(15%);
          // height: 100px;

          & > div.big_circle {
            width: 300px;
            height: 300px;
            left: calc(50% - (300px / 2));
            top: 20%;
          }

          & img {
            // position: absolute;
            width: 250px;
            height: 80%;
            top: 0;
            right: 0%;
          }
          // display: none;
        }
      }
      div.circle_1_container {
        position: absolute;
        left: 21%;
        top: 52%;
      }
      & h1 {
        font-size: 35px;
      }
  
      & p {
        font-size: 17px;
      }
    }

    & > section.perks {
      & div.perk_wrapper {
        grid-template-columns: 1fr !important;
      }
    }

    & > section.download {
      & > div.download_container {
        grid-template-columns: 1fr;

        & > div.download_text_container {
          padding: 2.5em 1.5em;

          & > h1 {
            font-size: 30px;
          }

          & > p {
            font-size: 16px;
          }

          & > div.buttons_container {
            gap: calc(var(--base-gap) * 2);
            // justify-content: space-between;
            
            &  button {
              padding: 1em 1.2em;

              &  img {
                width: 20px;
              }
            }
          } 
        }
      }

      & div.download_image_container {
        display: none;
      }
    }
  }
}